<%= render 'form' %>
<% if @model == "User" %>
  <h2>Users search for "<%= @content %>"</h2>
    <%= render 'users/index', users: @users %>
<% elsif @model == 'Book' %>
  <h2>Books search for "<%= @content %>"</h2>
    <%= render 'books/index', books: @books %>
<% end %>
